<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Binding a List in Thymeleaf</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <p>
    <h3>List</h3>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th> Title </th>
            <th> Price </th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${articles.empty}">
                <td colspan="2"> Нет товаров </td>
            </tr>
            <tr th:each="article : ${articles}">
                <td><span th:text="${article.name}"> Name </span></td>
                <td><span th:text="${article.price}"> Price </span></td>
            </tr>
        </tbody>
    </table>
    <a href="/addArticle">Add new</a>
</div>
<p/>
</body>
</html>
